# Rename this file to .env and modify the values
#
# Connection string for Umami’s database.
# If you use the bundled DB container, "db" is the hostname.
DATABASE_URL=

# Database type (e.g. postgresql)
DATABASE_TYPE=postgresql

# A secret string used by Umami (replace with a strong random string)
APP_SECRET=

# Postgres container defaults.
POSTGRES_DB=umami
POSTGRES_USER=umami
POSTGRES_PASSWORD=
